
.jumbotron.landing_page
  .logo
  %h1 Sign in to Reader for the latest news!
  %p 
    Please log in.
    %br/
  = link_to "Login with Google", user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-danger btn-lg active"
  = link_to "Login with Twitter", user_omniauth_authorize_path(:twitter), :class => "btn btn-primary btn-lg active"
   