
- @article_users.each do |bookmark|
  .article_box
    -if bookmark.article.image.present?
      =image_tag bookmark.article.image, :class => "feed_images"
    -else
      =image_tag "rss_icon.png", :class => "feed_images_default"
    %h3= link_to bookmark.article.title, bookmark.article.url, :target => "_blank"
    %p= bookmark.article.summary
    %br/
    %p
      Published:
      = bookmark.article.published 
    #list_button_container
      = link_to 'remove', bookmark, :class => "btn btn-warning unbookmark", :method => :delete

