// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn {
  margin-right: 10px;
  width: 29%;
}

.index_title {
  color: white;
}

.article_box{
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.search {
  width: 15%;
  display: inline-block;
}

.btn-lg{
  width: 300px;
}

h1 {
  text-align: center;
}

.form-control {
height: 30px;
width: 600px;
}

.feed_images {
  width:100px;
  height: 100px;
  border: solid black;
}

.feed_images_default {
  width:100px;
  height: 100px;
  border: solid black;
}

.feed_image_default{
  width: 130px;
  height: 130px;
}

.navbar.navbar-default {
  background-color: white;
  color: black;
}

.profile_pic {
  width: 100px;
  height: 100px;
}

.navbar-default .navbar-nav > li > a {
  color: black;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.navbar-default .navbar-brand {
  color: black;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.profile {
  margin: 0 auto;
  padding-left: 60px;
  color: black;
  font-size: 15px;
}


.profile a{
  color: black;

}